body{
 text-align: center;
 background-image: "C:\Users\Saumya\Documents\GitHub\project1\WhatsApp Image 2024-01-07 at 21.39.57_0f72d6d8.jpg";
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 ;
}

.container {
    height : 300px;
    background-color: antiquewhite;
    overflow-y:scroll;
}
.container form{
    border-color: rgb(155, 21, 21);

}