body{
 text-align: center; 
 background-color:rgb(255, 255, 255);
}
.container {
    overflow-y:scroll;
    font-family: "Times New Roman", Times, serif;
    img{
        float: left; }
        height: 280px;
       
}

.content{

    align-content: center;
    margin: 50px;
    font-family: "Times New Roman", Times, serif;
    background-color:rgb(184, 163, 221);
    border: 5px solid rgb(29, 3, 49) ;
    border-radius: 20px;
    width: 90%;
    height:300px;
    padding: 50px 10px 50px 10px ;    /*top,right,bottom,left */   
    font-size:25px;
    width : 70;
}
.content
{
p{
    font-size:25px;
    width:70;
   
    height:100px; }
    img{
    padding: 10px;
    float: left; }
}